<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>



    <ion-card-content>
      <ion-card-title>
        Fotos
      </ion-card-title>
    </ion-card-content>

    <img src="{{photoUrl}}" class="image" />

    <ion-row no-padding>
      <ion-col>
        <ion-button icon-left (click)="takePhoto('picture')">
          <ion-icon name='camera'></ion-icon>
          Tirar Foto
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>